* {
    box-sizing: border-box;
}
html {
      scroll-behavior: smooth;
    }
/* Setting up backgound and width */
body {
    background-color: rgba(250, 250, 250, 0.795);
    font-family: 'Ubuntu', sans-serif;
    color: rgba(150, 150, 150, 0.74);
    margin: 0;
}
h1 {
    margin-top: 10px;
    font-size: 2em;
}
h2 {
    margin: 0;            
    font-size: 1.4rem;
}

h1,
h2 {
    color:  rgba(48, 48, 48, 0.74);
}

.header-content,
.main-container,
.footer-container,
.contact,
.skills,
.skill-section {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
 main {
     background-color: white;
 }
 img {
     width: 100%;
 }

 
/* Header section */
 .header-content li {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    list-style-type: none;
    background-color: white;
    margin-bottom: 6px;
    padding:0.8em 0;
 }
 .header-content a {
    color:  rgba(48, 48, 48, 0.74);
    text-decoration: none;
 }
 .header-content a:hover {
     color:green;
 }
 .header-content ul {
    padding-left: 0;
 }
 .profile-pic {
     margin-top: 50px;
     margin-bottom: 20px;
     width:80%;
 }
 .header-content p {
     font-size: 1.3em;
 }

 .header-content {
     padding-bottom: 1.2em;
 }


/* main section */
 .main-container,
 .footer-container {
    padding-top: 2.3em;
    padding-bottom: 3em;
 }
 .main-container {
    padding-top: 3em;    
    border-bottom: 2px solid rgba(230, 230, 230, 0.795);
}
 .main-container h2 {
     margin-bottom: 1.2em;
 }
 .main-container img {
     margin-bottom: 2.3em;
     margin-top: 2.3em;
 }
 .main-container p {
    color: rgba(92, 92, 92, 0.74);
    font-size: 1.2em;
 }
/*Skill section*/
.skill-section {
    margin-top: 2.5em;
}
.skills div {
    width: 49%;
    padding:10px;
    float: left;
    font-weight: 400;
    color: rgb(66, 151, 66);
}
.skills li {
    text-align: left;
}
.skills ul {
    list-style:inside;
    padding-left: 0;
    line-height: 1.8em;
    font-size: 1.2em;
}
.skills {
    padding-left: 3em;
}
/* Contact section */
.contact {
    font-size: 1.2rem;
    padding-top: 3.5em;
    padding-bottom: 3em;
}
.contact-para {
    margin-top: 1.7em;
    margin-bottom: 1.7em;
}

.contact span {
    font-weight: 700;
    color:  rgba(50, 50, 50, 0.74);
}
.contact span::before {
    content: '\00a0';
}

/* Footer section */
.footer-container {
    border-top: 2px solid rgba(230, 230, 230, 0.795);
}
.Name {
    float: left;
}
.big-screen {
    display: none;
}
.back-t-top {
    float: right;
}
.back-t-top a {
    color:  rgba(48, 48, 48, 0.74);
    text-decoration: none;
}
.back-t-top a:hover {
    color:green;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}



/*For 768px or higher*/
@media (min-width: 768px) {
.header-content,
.main-container,
.footer-container,
.contact {
    width: 95%;
}
    /*header section*/
    .header-content h1 {
        margin-bottom: 0;
    }
    .header-content ul {
        margin-top: 5px;
        display: inline-block;
    }
    .header-content li{
        float: left;
        margin-left:1em;
        margin-right:1em;
        background-color: initial;
    }
    .header-content img {
        width: 30%;
        float: right;
        margin-top: 20.8px;
        margin-left: 5px;
    }
    .header-content p {
        width: 68%;
        float:left;
        text-align: left;
        font-size: 1.3em;
    }
    /*main content*/
    .main-container div {
        width: 48%;
        float: left;
        transition-property: transform;
        transition-duration: 0.5s;
    }
    .marketing,
    .travel,
    .photo {
        margin-right: 1em;
    }
    .main-container p {
        height: 72px;
    }
    .main-container div:hover {
        transform: scale(1.089);
    }
    /*Skill section*/
    .skills div {
        width: 24%;
    }
    
    /*Footer section*/
    .back-t-top {
        display: none;
    }
    .big-screen {
        display: block;
        float: right;
    }
    .big-screen li {
        list-style-type: none;
        float: left;
        margin-left:1.7em;
        font-family: 'Nunito', sans-serif;
        font-size:22.4px;
        font-weight: bold;
       
    }
    .big-screen a {
        color:  rgba(48, 48, 48, 0.74);
        text-decoration: none;
    }
    .big-screen a:hover {
        color:green;
    }
    .Name {
        margin-top: 16px;
    }
    .footer-container {
        padding-top:.5em; 
        padding-bottom: 3.5em;
    }
    
}
@media (min-width: 1024px)  {
    body {
        margin-top: 20px;
    }
    /*Header section*/
    .header-content h1 {
        float: left;
    }
    .header-content ul {
        float: right;
    }
    .header-content img {
        width:40%;
        margin-left: 10px;
    }
    .header-content p {
        width:58%;
    }
    .header-content li {
        margin-right: 0;
        margin-left: 2.2em;
    }
    /*main section*/
    .main-container div {
        width: 32%;
    }
    .marketing,
    .search,
    .map,
    .photo {
        margin-right: 1em;
    }
    .travel {
        margin-right: 0;
    }
    /*Contact section*/
    .contact {
        width:60%;
    }
   /*Footer section*/
   .footer-container {
       padding-bottom: 1em;
   }

}